$primary-background-color: #E2EEEB;
body {
  background-color: $primary-background-color;
  font-family: Helvetica, Arial, sans-serif;
}

a, a:hover {
  transition: all .2s;
}

header.navbar {
  a.navbar-brand {

  }
  
  ul.navbar-nav {
    li.nav-item {
      a.nav-link:not(.disabled) {
        color: $dark;
        
        &:hover {
          color: $danger;
        }
      }
    }
  }
}

main {
  padding: calc(1em + 56px) 0;
}

footer.navbar {
  ul.nav {
    li.nav-item {
      a.nav-link {
        color: $dark;
        
        &:hover {
          color: $danger;
        }
      }
    }
  }
}
